@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

:root {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #181717; 
}
*{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	font-family: 'Montserrat4', sans-serif;
} 
.body {
	overflow: hidden;
	overflow-x:hidden;  
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	z-index: 2;
	max-width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://mfiles.alphacoders.com/777/777193.png") center no-repeat;
	background-size: cover;
	position: relative;
  	overflow: hidden;
}

.container{
	z-index: 2;
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 2;
	display: none;
}

nav{
	z-index: 2;
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	z-index: 2;
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@keyframes easing {
	from {
		color: rgba(255, 255, 255, 0);
	}
	to {
		transform: translateY(0);
		color: rgba(255, 255, 255, 1);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
.container p {
	position: relative;
	font-size: 3em;
	left: 21vw;
	color: #fff;
	transform: translateX(-100rem);
	animation: slideIn 1s forwards
}
.container img {
	position: relative;
	top: 20vh;
	left: 4vw;
	transform: translateX(-100rem);
	animation: slideIn 1.2s forwards
}
.container h2 {
	position: relative;
	top: -80px;
	left: 35vw;
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	word-wrap:break-word;
	text-align: justify;
	width: 50%;
	transform: translateY(-3rem);
	animation: easing 1.4s forwards
}
.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #0051ff, -0.03em -0.04em 0 #ff0055,
    0.025em 0.04em 0 #95ff00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 425ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #0051ff, -0.03em -0.04em 0 #ff0055,
      0.025em 0.04em 0 #95ff00;
  }
  15% {
    text-shadow: 0.05em 0 0 #0051ff, -0.03em -0.04em 0 #ff0055,
      0.025em 0.04em 0 #95ff00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #0051ff, 0.025em 0.035em 0 #ff0055,
      -0.05em -0.05em 0 #95ff00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #0051ff, 0.025em 0.035em 0 #ff0055,
      -0.05em -0.05em 0 #95ff00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #0051ff, 0.03em 0 0 #ff0055,
      0 -0.04em 0 #95ff00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #0051ff, 0.03em 0 0 #ff0055,
      0 -0.04em 0 #95ff00;
  }
  100% {
    text-shadow: -0.05em 0 0 #0051ff, -0.025em -0.04em 0 #ff0055,
      -0.04em -0.025em 0 #95ff00;
  }
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border: 3px solid #000000;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000;
}
::-webkit-scrollbar-track:active {
  background: #000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.main {
	max-width: 100%;
	height: 100vh;
	background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images7.alphacoders.com/820/820602.png") no-repeat;
	z-index: 1;
}

.line {
	width: 100%;
	height: 10px;
	background-color: #000;
	z-index: 5;
}
.main h1 {
	font-size: 3em;
	position: relative;
	top: 50px;
	z-index: 3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px black;
	font-weight: 700;
}
.velfoy {
	float: left;
	position: relative;
	top: 100px;
	z-index: 2;
	width: calc(100%/3);
	height: 300px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 50px 0px 0px 50px;
}
.l1te {
	float: left;
	position: relative;
	top: 100px;
	z-index: 2;
	width: calc(100%/3);
	height: 300px;
	background-color: rgba(0,0,0,0.4);
}
.kopikorm {
	float: left;
	position: relative;
	top: 100px;
	z-index: 2;
	width: calc(100%/3);
	height: 300px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0px 50px 50px 0px;
}
.main h2 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	top: -55px;
	position: relative;
	left: 130px;
}
.main h3 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	top: -55px;
	position: relative;
	margin-left: 130px;
}
.main p {
	color: #ccc;
	font-weight: 700;
	position: relative;	
	text-align: justify;
	left: 60px;
	width: 80%;
	font-family: "Nunito Sans";
}
.l1te span,.kopikorm span {
	font-family: "Rubik";
	color: #0099e1;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 25px;
}
.velfoy span {
	font-family: "Rubik";
	color: #f93a2f;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 25px;
}
.ress span,.poki span {
	font-family: "Rubik";
	color: #fff;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 25px;
}

.main h4 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 3em;
	top: 150px;
	position: relative;
	text-align: center;
}
.ress {
	float: left;
	position: relative;
	top: 200px;
	z-index: 2;
	width: calc(100%/3);
	height: 300px;
	background-color: rgba(0,0,0,0.4);
	margin-left: calc(100%/3/2);
	border-radius: 50px 0px 0px 50px;
}
.ress img,.poki img,.kopikorm img,.l1te img,.velfoy img {
	position: relative;
	top: 15px;
	left: 15px;
	border-radius: 50%;
}
.poki {
	float: left;
	position: relative;
	top: 200px;
	z-index: 2;
	width: calc(100%/3);
	height: 300px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0px 50px 50px 0px;
}
.velfoy:hover,.l1te:hover,.kopikorm:hover,.ress:hover,.poki:hover {
	background-color: rgba(0,0,0,0.6);
}
.join {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://img5.goodfon.ru/original/1920x1080/9/e6/kaguya-sama-wa-kokurasetai-tensai-tachi-no-renai-kaguya-shin.jpg") center no-repeat;
}
.join h1 {
	position: relative;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 3em;
	top: 300px;
	text-align: center;
	color: #fff;
}

.joinBtn {
	left: 45%;
	top: 350px;
	position: relative;
	background-color:#738adb;
	border-radius:42px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:16px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.joinBtn:hover {
	background-color:#5366a3;
}
.joinBtn:active {
	position:relative;
	left: 45%;
	top: 350px;
}
